# Environment
NODE_ENV=development
PORT=3000

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/pomorix_db

# Direct connection to the database. Used for migrations
DIRECT_URL=postgresql://user:password@localhost:5432/pomorix_db

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d